// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1c1c1c;

@cyan: #00C3CB;
@blue: #ffffff;
@purple: #55AFFF;
@green: #BBB;
@red: #B4F699;
@orange: #019EE5;
@light-orange: #DDD;
